@model WebApplication22_11_1.Models.Lunch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lunch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuisineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuisineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isHot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isHot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDelicious)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDelicious)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isHealthy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isHealthy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
